Repository versori/spa-server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  b809f3c0cc30326e83543817d9ebcbc2b1fe8383
Due: none

chore: add tests for load-config.ts and have CI run them
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  package.json
  src/client/__tests__/load-config.test.ts
Due: eslint --fix, prettier --list-different --write

feat: serve compressed static assets if they exist
  package-lock.json
  package.json
  src/server/serve.ts
Due: eslint --fix, prettier --list-different --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  64ad1b41cd19cf0aa0f874a98989d7413c37283f
Due: none

feat: use helmet for default security headers
  package-lock.json
  package.json
  src/server/serve.ts
Due: eslint --fix, prettier --list-different --write

fix: update github actions
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

fix: add persist-credentials false
  .github/workflows/release.yml
Due: none

fix: generate new github token
  .github/workflows/release.yml
Due: none

feat: add strictTransportSecurity
  .github/workflows/release.yml
  src/server/serve.ts
Due: eslint --fix, prettier --list-different --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

feat: add contentSecurityPolicy
  .github/workflows/release.yml
  src/server/serve.ts
Due: eslint --fix, prettier --list-different --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  fe23c383b747830ef0c175aba505feb8f376807b
Due: none

feat: add helmet options
  src/server/serve.ts
Due: eslint --fix, prettier --list-different --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  e273d10db2a2926ca27a77e4548fd7e5242f2408
Due: none

feat: support customising helmet options on additional routes
  .eslintignore
  .eslintrc.json
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/inspectionProfiles/Project_Default.xml
  .nvmrc
  eslint.config.mjs
  package-lock.json
  package.json
  src/client/core/runtime-config.ts
  src/server/serve.ts
Due: eslint --fix, prettier --list-different --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  43fdcb800acecc91f2e3d1f2bcf14990673fb223
Due: none

fix: update johnnys
  package-lock.json
Due: prettier --list-different --write

fix: lmao
  .prettierignore
Due: none

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  439ecf0802d34b4712bc87bcc3b178d6fac48bbe
Due: none

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  4545b48d789cc037b50bc0adf24d173c083140c9
Due: none

fix: dependencies
  package-lock.json
  package.json
Due: prettier --list-different --write

chore(release): 1.5.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  9ab0291e3928cc7d369b36b95270d106ce98d9e1
Due: none

deps(VER-79): fix 4 Dependabot alert(s) in root (@fastify/static, fast-uri)
  package-lock.json
  package.json
Due: prettier --list-different --write

fix(deps): update brace-expansion, shell-quote, ws, and yaml to latest versions
  package-lock.json
Due: prettier --list-different --write

chore(release): 1.5.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  9f8eb3bcdf2e515c0eaa7e9eaed8be9455fb0b8f
Due: none

chore: bump transitive deps to fix HIGH CVEs due 2026-08-20/24/25/26
  package-lock.json
Due: prettier --list-different --write

fix: bump @fastify/static and js-yaml to resolve HIGH CVEs due 2026-08-27
  package-lock.json
  package.json
Due: prettier --list-different --write

fix: drop unneeded js-yaml override, plain reinstall already resolves it
  package.json
Due: prettier --list-different --write

chore(release): 1.5.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different --write

Notes added by 'git notes add'
  046619132100635d80422c7da49da9780312c530
Due: none

feat: why is not not triggering a release if it is a code change
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --list-different --write: (any of: *.ts) or (any of: *.json)
